body,
html {
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr;
    font-size: 1.5rem;
}

main {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    flex-flow: column;
}

/*header values*/
header {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-columns: min-content 1fr auto;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    background-color: #0180B5;
    padding: 2rem 15rem;
    gap: 1rem;
}

header * {
    margin: 0;
    padding: 0;
}


.icons
{
    gap: 1rem;
    grid-row: 1;
    grid-column: 3;
    display: flex;
    flex-flow: row;
    list-style: none;
    justify-self: end;
    font-size: 1.5rem;
}

.icons > li > a {     
    display: flex;  
    background-color: white;
    border-radius: 25%;
    border-width: 0;
    padding: 0.5rem;
}
.icons > li > a:hover {   
    background-color: orange;
}

.icons > li > a > img
{
    height: 1em;
    aspect-ratio: 1;
}

.headerimg {
    position: relative;
    grid-column: 1;
    grid-row: 1 / span 2;
}

.headerinfo {
    font-size: large;
    word-spacing: 25px;
    grid-column: 3;
    grid-row: 2;
}

.headerinfospecial {
    word-spacing: 2px;
}

/*hover feature for the links*/
a:hover {
    text-decoration: underline;
}

main>div {
    flex-shrink: 0;
}

/*overall color of the background*/
.blue_background {
    background-color: #0180B5;
}

/*general font color*/
* {
    color: white;
}

/*properties of the background img and information*/
.block_one {
    background-image: url(/assets/zaehne_bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: contain;
    padding: 0rem 15rem;
}

/*coordinates of the information*/
.block_one>.information {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 2fr;
    padding: 10rem 0rem;
}

.block_one>.information>div {
    grid-row: 1;
    grid-column: 1;
}

/*proberties of the img in the information block*/
.block_one>.information>img {
    height: 30rem;
    grid-row: 1;
    grid-column: 2;
    position: relative;
    right: -100px;
    top: 20px;
}

a {
    font-weight: 600;
    text-decoration: none;
}

.custom_small_font {
    font-size: 14px;
}

.custom_medium_font {
    font-size: 17px;
}

.justified_text {
    text-align: justify;
}

.transparent_text {
    color: hsla(0, 100%, 100%, 0.8);
}

.center_text {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.text_default_color:hover {
    color: orange;
}

/*properties of the second block*/
.block_two {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    padding: 8rem;
}

.block_two>* {
    text-align: center;
}

.block_two>.carousel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
}

.block_two>.carousel>a {
    width: 100%;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

.block_two>.carousel>a:hover {
    background-color: orange;
}

.block_two>.carousel>a:hover .hidden {
    display: inline;
}

.block_two>.carousel>a>img {
    opacity: 50%;
    width: 100%;
    height: 100%;
}

.block_two>.carousel>a>* {
    grid-row: 1;
    grid-column: 1;
}

.block_two>.carousel>a>span {
    z-index: 1000;
}

.hidden {
    display: none;
}

.black {
    color: black;
}

/*continue block three*/
.block_three {
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: contain;
    padding: 0rem 15rem;
}

.dropdown {
    position: relative;
    display: flex;
    flex-flow: column;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0.7rem;
    border-top-color: rgba(255, 255, 255, 0.5);
    border-top-style: solid;
    border-top-width: 1px;
}

.dropdown>li {
    z-index: 1;
    border-color: rgba(255, 255, 255, 0.5);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 1rem 0;
}

.dropdown > li > a > img {
    height: 1em;
    aspect-ratio: 1;
    float: right;
}

.block_four {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    padding: 0rem;
}

.imgalignment {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
}

.imgalignment img {
    aspect-ratio: 3/2;
    width: 100%;
    object-fit: cover;
}

.imgalignment>a {
    width: 100%;
}

.block_four>.imgalignment>a:hover {
    background-color: orange;
}

.block_four>.imgalignment>a>img {
    opacity: 50%;
    width: 100%;
    height: 100%;
}

.block_four>.imgalignment>a>* {
    grid-row: 1;
    grid-column: 1;
}

.block_four>.imgalignment>a>span {
    z-index: 1000;
}

.block_four>.imgalignment>a {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

/*continue block five*/
.block_five {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    padding: 4rem 15rem;
}

.block_five h3 {
    margin: 0;
}

.block_five p {
    color: black;
    font-size: 17px;
}

.block_five>.text {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto;
    gap: 5rem;
}

.block_five>text>div {
    grid-row: 1;
    grid-column: 1;
}

.block_five>.text>img {
    height: 15rem;
    grid-row: 1;
    grid-column: 2;
    position: relative;
    aspect-ratio: 5 / 3;
}

.blue {
    color: #0180B5;
}

/*designe of the button*/
.button {
    align-self: center;
    justify-self: center;
    background-color: orange;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 1rem 2rem;
}

/*block six continue*/
.block_six {
    display: flex;
    flex-flow: column;
    gap: 5rem;
    padding: 4rem 15rem;
}

.background_img {
    background-image: url(/assets/zaehne_bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: contain;
    padding: 5rem 15rem;
}

.block_six>.bottom {
    display: flex;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.block_six h5 {
    margin-top: 0;
    margin-bottom: 0;
}

.block_six h4 {
    margin-top: 20;
    margin-bottom: 30;
}

.block_six p {
    margin-top: 20;
}

.block_six br {
    margin-bottom: 10;
}

.black_background {
    background-color: #222222;
}

.orange {
    color: orange
}

.block_six>.carousel {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
}

.list {
    position: relative;
    display: flex;
    flex-flow: column;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.5rem;
}

.distance {
    margin-left: 150;
}

.logo {
    margin-top: 200;
    margin-left: auto;
    image-rendering: pixelated;
    width: 300x;
    height: 150px;
}